#login, #register span{
  color: rgb(250, 2, 2);
}
#register{
  color: whitesmoke;
   padding-top: 20px;
    width: 500px;
    height: 700px;
    background-color: rgb(0, 13, 26);
    border-radius: 15px;
    border: 2px solid rgb(5, 5, 5);
    text-align: center;
}
#register #inputFileRegister{
  width: 70%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
#login{
  color: whitesmoke;
   padding-top: 20px;
    width: 350px;
    height: 400px;
    background-color: rgb(0, 13, 26);
    border-radius: 10px;
    border: 2px solid rgb(2, 2, 2);
    text-align: center;
}
#buttonLogin{
  color: rgb(255, 255, 255);
    background-color:rgb(31, 48, 48);
    height: 40px;
    width: 100px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 rgb(23, 63, 63);
}
#login #inputFile{
width: 70%;
height: 35px;
margin-top: 10px;
margin-bottom: 10px;
}
#ajout {
  display: none;
}
#pub-entreprise {
  display: none;
}


.layout {
  width: auto;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.paper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: wheat;
  box-shadow: 5px
}
.avatar {
  margin: 50px;
  background-color: red;
}
.submit {
  margin-top: 20px;
}
.link {
  text-decoration: none;
}
.footer {
  margin-top: 20px;
}
.errorText {
  color: #D50000;
  margin-top: 5px;
}
.successText {
  color: #32971E;
  margin-top: 10px;
  text-decoration: none;
}